@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=League+Spartan:wght@200&display=swap');

:root {
    --headingColor: #222;

}

/* Table of Content
==================================================
#BASIC TYPOGRAPHY
#HEADER SECTION
#NAVBAR SECTION
#SLIDER SECTION
#PROMO SECTION
#PRODUCT SECTION
#BANNER SECTION
#POPULAR SECTION
#SUPPORT SECTION
#TESTIMONIAL SECTION
#LATEST BLOG SECTION
#CLIENT BRAND SECTION
#PRODUCT PAGE
#PRODUCT DETAILS PAGE
#CART VIEW PAGE
#CHECKOUT PAGE
#MY ACCOUNT  PAGE
#BLOG ARCHIVE  PAGE
#BLOG DETAILS  PAGE
#CONTACT  PAGE
#ERROR  PAGE
#FOOTER SECTION
#RESPONSIVE DESIGN

*/

/* BASE - Base tyles, Variables, Mixins, etc. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    font-family: 'League Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

body {
    width: 100%;
    height: 9999px;
    background-color: #fdd7bd33;
}

/* Header Section Begin*/

#header,
.header-btn,
.navbar .navbar-list,
.navbar-search,#features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 

}

#header {
    padding: 10px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}


.header__logo .logo {
    width: 170px;


}


.navbar .navbar-list li,
.header-btn a {
    list-style-type: none;
    padding: 0 20px;
    text-transform: capitalize;
    position: relative;


}

.navbar .navbar-list li a,
.header-btn a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #1a1a1a;
    transition: .3s .3s ease;

}

.navbar .navbar-list li a:hover,
.navbar .navbar-list li .active {
    color: #ff6600;
}

.navbar .navbar-list li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #217994;
    position: absolute;
    bottom: -3px;
    left: 20px;
    transition: .3s .3s ease;
}

.navbar .navbar-list li a:hover::after,
.navbar .navbar-list li .active::after {
    width: 50%;
}

.header-btn .sign-btn  {
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: #217994;
    padding: 10px 50px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    transition: .2s .2s ease-in-out;
}

.header-btn .sign-btn:hover {
    background-color: #ff6600;
}

/* dropdown -list- */
.dropdown-icon {
    display: flex;



}

.dropdown-icon .drop-btn .fa {
    font-size: 30px;
    color: #217994;
}

.dropdown-icon .drop-btn .fa:hover {
    color: #ff6600;
}

.header-btn .dropdown-content {
    position: relative;
    display: none;
    z-index: 1;
    background-color: #E3E6F3;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 50px;

}

.header-btn .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

}

.header-btn .dropdown-content .content-1:hover {
    background-color: #d3d5dfc7;
    color: #ff6600;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.header-btn .dropdown-content .content-2:hover {
    background-color: #d3d5dfc7;
    color: #ff6600;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

#menu-icon {
    font-size: 30px;
    z-index: 10001;
    color: #000000;
    cursor: pointer;
    display: none;
}


/* Header Section End */

/*   hero Section Begin */
#hero {
    background-image: url("../assets/hero-background-real-estate/hero1.png");
    background-size: cover;
    background-position: top 60% right 0;
    background-color: #E3E6F3;
    height: 90vh;
    width: 100%;
    padding: 0 80px;
}

#hero .hero-aside-block {
    max-width: 50%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-transform: capitalize;
}

#hero h5,.rih-side h5 {
    padding-bottom: 15px;
    font-size: 16px;
}

#hero h2,.rih-side h2 {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #154b5c;
    padding-bottom: 5px;
}

#hero h1 {
    color: #ff6600;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;

}

/*   hero Section End */

/* hero-search Begin */
#hero-search {
    background-color: #d5dee0;
    width: 60%;
    padding: 0 20px;
    margin: 0 auto;
    height: min-content;
    border-radius: 15px;
    margin-top: -3vw;
  
}

#hero-search .navbar-search {
    padding: 15px;

}

#hero-search .navbar-search li {
    margin: 10px 0;
    list-style-type: none;
}

#hero-search .navbar-search li a ,.rih-side a{
    text-decoration: none;
    max-width: 100px;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: #217994;
    padding: 10px 40px;
    text-align: center;
    text-transform: capitalize;
    color: #f3f4f5;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;

}

#hero-search .hero-in {
    padding: 0 15px 15px;
    
}
#hero-search .navbar-search li a:hover,.rih-side a:hover {

    border: 2px solid #217994;
    background-color: transparent;
    color: #ff6600;
}


#hero-search input[type=text] {
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #217994;
    border-radius: 4px;
    
    background-color: white;
    background-image: url("../assets/all-icon-sakan-plus/clipart2572350zx.png");
    background-position: 9px 9px;
    background-repeat: no-repeat;
    padding: 10px 20px 10px 50px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    color: #ff6600;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;

}
#hero-search input[type=text]::placeholder{
    color: #ff6600;
}
#hero-search input[type=text]:focus {
    width: 100%;


}
/*   hero Search End */

/* feachers */

#features{
    margin: 30px 0;
    padding: 10px 80px;
    background-color: #eee;
    height: 50vw;
}
#features .lft-side {
    width: 45%;
    height: 30vw;
    background-image: url('../assets/sakan-plus-main-home/home-main.jpg');
    background-repeat: repeat;
    background-size: cover;
    cursor: pointer;
    border-radius: 10px;
    background-color: #222;
   

    max-height: calc(100vh - 150px);
    margin-bottom: 40px;
    display: block;
    cursor: pointer;

}
#features .rih-side{
    width: 45%;
    background-color: #465b52;
}
/*  */
/* RESPONSIVE DESIGN Begin */

@media(max-width:1530px) {
    #header {
        padding: 18px 3%;
        transition: .2s;
    }
}

@media(max-width:1070px) {
    #header {
        padding: 18px 3%;
        transition: .2s;
    }

    #menu-icon {
        display: block;
    }

    .navbar .navbar-list li a:hover::after,
    .navbar .navbar-list li .active::after {
        width: 0;
    }


    .navbar .navbar-list {
        position: absolute;
        top: -800px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: #b9bcc76e;
        transition: all .50s ease;
        text-align: left;
    }

    .navbar .navbar-list a {
        display: block;
        padding: 1rem;
        margin: 0.8rem;

    }

    .navbar .open {
        top: 100%;
    }
}

@media(max-width:500px) {
    .header-btn .sign-btn {
        background-color: #217994;
        padding: 5px 15px;

    }

}

/* RESPONSIVE DESIGN End */