@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=League+Spartan:wght@200&display=swap');

:root {
    --cairoFont: 'Cairo', sans-serif;
    --SpartanFont: 'League Spartan', sans-serif;
    --PoppinsFont: 'Poppins', sans-serif;

    --background-transparent: transparent;
    --shadowBoxVar: 0 5px 15px rgba(0, 0, 0, 0.466);

    --sectionBackground: #21656610;
    --navHoverColor: #407e8062;
    --backgroundMainColor: #216566;
    --bdyColor: #644d4d15;
    --heroH2Color: #154b5c;
    --backgroundMainColor-sp: #01c2bf;

    --headingColor: #222;
    --fontColor: #d5dee0;
    --orangeColor: #ff6600;
    --darkFont: #050505;
    --uxBackgroundColor: #fdd7bd33;
    --dropBackgroundColor: #d3d5dfc7;
    --whiteColor: #ffffff;
}

/* Table of Content
==================================================
#BASIC TYPOGRAPHY
#HEADER SECTION
#NAVBAR SECTION
#Hero SECTION
#Hero-SEARCH

#PROMO SECTION
#PRODUCT SECTION
#BANNER SECTION
#POPULAR SECTION
#SUPPORT SECTION
#TESTIMONIAL SECTION
#LATEST BLOG SECTION
#CLIENT BRAND SECTION
#PRODUCT PAGE
#PRODUCT DETAILS PAGE
#CART VIEW PAGE
#CHECKOUT PAGE
#MY ACCOUNT  PAGE
#BLOG ARCHIVE  PAGE
#BLOG DETAILS  PAGE
#CONTACT  PAGE
#ERROR  PAGE
#FOOTER SECTION
#RESPONSIVE DESIGN

*/
/* BASIC TYPOGRAPHY Begin */
/* BASE - Base styles, Variables, Mixins, etc. */
*,
*::before,
*::after {
    box-sizing: border-box;

}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: var(--headingColor);
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: var(--headingColor);
}

h4 {
    font-size: 20px;
    color: var(--headingColor);
}

h5 {
    font-weight: 700;
    font-size: 15px;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--SpartanFont);
}

html {
    scroll-behavior: smooth;
}

/* BASIC TYPOGRAPHY End */

/* Header Section Begin*/
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    padding: 10px 80px;
    background-color: var(--backgroundMainColor);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.header__logo .logo {
    width: 10em;
}

/*NAVBAR SECTION Begin*/
#main-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

}

#main-nav li {
    width: 100%;
    text-align: center;
    position: relative;
}

#main-nav a {
    padding: 10px 30px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--whiteColor);
    height: 64px;
    transition: background 0.4s;
    background-color: var(--backgroundMainColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-nav a:hover {
    background-color: var(--navHoverColor);
    border-radius: 5px;
}

#main-nav li:hover .submenu>li {
    display: block;
    top: 0px;

}

.submenu li {
    display: none;
    position: absolute;
    top: 0px;
}

.submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}

.submenu li {
    position: relative;
}

.submenu li:hover .submenu-2 li {
    display: block;
}

.submenu-2 li {
    display: none;
}

.submenu-2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
}

.arrow {
    margin-left: 8px;
    color: var(--whiteColor);
    font-size: 12px;
}

/*  NAVBAR SECTION End*/
.nav-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav-btn .sign-btn {
    padding: 10px 30px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--whiteColor);
    transition: background 0.4s;
    background-color: var(--background-transparent);
    border: 2px solid var(--navHoverColor);
    border-radius: 5px;

}

.nav-btn .sign-btn:hover {
    background-color: var(--navHoverColor);
}

/* dropdown -list-Languages Begin */
.nav-btn .drop-btn {
    display: flex;
}

.nav-btn .drop-btn .fa {
    font-size: 20px;
    color: var(--whiteColor);
}

.nav-btn .drop-btn .fa:active,
.nav-btn .drop-btn span:active {
    transform: rotate(80deg);
    color: var(--orangeColor);
}

.nav-btn .list-language {
    margin: 0;
    padding: 0;
    font-weight: bold;
    position: absolute;
    top: 100%;
    right: 10%;
    display: none;
    border-radius: 5px;
    background-color: var(--backgroundMainColor);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.nav-btn li {
    list-style: none;
}

.nav-btn li span {
    margin: 4px;
}

.nav-btn li a {
    color: var(--whiteColor);
    font-size: 1.1em;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 100%;
}

.nav-btn .list-language li a:hover {
    background-color: var(--navHoverColor);
}

#menu-icon {
    font-size: 40px;
    z-index: 10001;
    color: var(--whiteColor);
    cursor: pointer;
    display: none;
}

/* dropdown -list-Languages End */
/* Header Section End */


/*   hero Section Begin */
#hero {
    position: relative;
    background-image: url("../assets/hero-background-real-estate/hero1.png");
    background-size: cover;
    background-position: top 60% right 0;
    background-color: #E3E6F3;
    height: 80vh;
    width: 100%;
    text-transform: capitalize;
}

#hero .hero-aside-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 80px;
    max-width: 55%;
    height: 80vh;
}


#hero h2,
#hero h1 {
    margin: 0;
    font-size: 7vh;
    font-weight: 600;
    font-family: var(--PoppinsFont);
}

#hero h2 {
    color: var(--heroH2Color);
}

#hero h1 {
    color: var(--orangeColor);
}

#hero h5 {
    font-size: 2.5vh;
}

.hero-aside-block a,
.sv-buy a,
.rft-side a,
.cta-btn a {
    text-transform: capitalize;
    display: block;
    font-size: 17px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    width: 30vh;
    padding: 15px;
    border-radius: 5px;
    transition: background 0.4s;
    background-color: var(--backgroundMainColor);
    color: var(--whiteColor);
    position: relative;
}

.hero-aside-block a:hover,
.rft-side a:hover {
    background-color: var(--orangeColor);
}

/*   hero Section End */


/* hero-search Begin */
#hero-search {
    position: absolute;
    top: 80%;
    left: 20%;
    background-color: #21656610;
    width: 60%;
    padding: 0 20px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

}

#hero-search h1 {
    margin: 0;
    font-size: 1.9vw;
    text-transform: capitalize;
    color: var(--orangeColor);
}

.input-box {
    position: relative;
    height: 60px;
    max-width: 900px;
    width: 100%;
    background-color: #21656610;
    background-color: #fff;
    margin: 5px 0;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    bottom: 20px;
}

.input-box i,
.input-box .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.input-box i {
    left: 20px;
    font-size: 30px;
    color: var(--orangeColor);
}

.input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: transparent;
}

.input-box .button {
    right: 20px;
    font-size: 17px;
    font-weight: 700;
    color: var(--whiteColor);
    border: 2px solid var(--background-transparent);
    padding: 12px 30px;
    border-radius: 5px;
    background-color: var(--backgroundMainColor);
    cursor: pointer;
    transition: .2s ease;
    outline: none;
}

.input-box .button:active {
    transform: translateY(-30%) scale(0.98);
    background-color: var(--orangeColor);
}

/*   hero Search End */

/* features Section Begin */
#features {
    padding: 40px;
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #21656610;
    border-radius: 20px;
}

#features .lft-side,
.rft-side {
    margin: 0 20px;
    padding: 0 20px;
    width: 50%;
}

#features .lft-side .lft-img {
    border-radius: 10px;
    width: 100%;
}

.features-box {
    flex-direction: column;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 15px 0;
}

.features-box .bx-1,
.bx-2,
.bx-3,
.bx-4 {

    background-color: #21656628;
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;




}

.features-box i {
    color: var(--orangeColor);
    font-size: 1.7rem;
    vertical-align: middle;
    padding: 10px;

}

.features-box h6 {
    font-size: 1.4rem;
    display: inline-block;
    text-transform: capitalize;
    font-weight: bold;
    color: var(--heroH2Color);
    margin: 0;


}

.rft-side h2,
.property-text h2,
#services h2,
.works-txt h2,
#cta h2 {
    text-transform: capitalize;
    color: var(--heroH2Color);
    font-weight: bold;
    font-family: var(--PoppinsFont);
    font-size: 2.5rem;
    margin-top: 0;
}

.rft-side h4,
.property-text h4,
#services h4,
.works-txt h4,
#cta h4 {
    margin-bottom: 0;
    text-transform: capitalize;
    color: var(--orangeColor);
    font-weight: bold;
    font-family: var(--PoppinsFont);
    font-size: 2rem;
}

.rft-side h5,
.property-text h5,
#services h5,
.works-txt h5,
#cta h5 {
    margin: 0;
    font-size: 1.3rem;
}

/* features Section End */

/* property section Begin */
#property,
#cta {
    background-color: var(--sectionBackground);
    padding: 40px;
    margin: 50px 0;
    border-radius: 20px;
}

.pro-container,
.works-container {

    padding: 0 20px;
    margin: 0 20px;
}

.pro-container .property-text {
    margin: 20px 0;
}

.property-text h5 {
    width: 50%;
}

.property-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

.property-btn a,
.cta-btn a {
    width: 30vh;
    text-decoration: none;
    font-size: 17px;
    background-color: var(--background-transparent);
    padding: 15px;
    border-radius: 10px;
    color: var(--backgroundMainColor);
    text-transform: capitalize;
    border: 2px solid var(--backgroundMainColor);
    margin: 15px;
    font-weight: 700;
    text-align: center;
    transition: background 0.5s;

}

.property-btn a:active,
.property-btn a:hover,
.cta-btn a:hover {
    background-color: var(--backgroundMainColor);
    color: var(--whiteColor);
    outline: none;
}

.property-btn .ex-flex-end {
    color: var(--orangeColor);
    border-color: var(--orangeColor);

}

.property-btn .ex-flex-end:hover {
    background-color: var(--orangeColor);
    color: var(--whiteColor);
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* Cart Home Start */
.articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    cursor: pointer;
    grid-gap: 20px;
    align-items: stretch;



}

.article-card {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;


}

.article-card a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
}

/* basic article elements styling */
.article-card h2 {

    font-family: 'League Spartan', sans-serif;
    font-size: 1.9rem;
    letter-spacing: 0.09em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
}

.article-card h4 {
    font-size: 1.1rem;
    letter-spacing: 0.1em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
}

.article-card p {
    font-weight: 600;
    line-height: 1.1rem;
}

figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

.article-card img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
}

.article-body {
    padding: 24px;

}

.article-card a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
}

.article-card a:focus {
    outline: 1px dotted #28666e;
}

.article-card a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
.article-card:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}








/* Cart Home End */
/* property Section End */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/*  */
#services {
    background-color: var(--whiteColor);
    text-align: center;
    width: 100%;
    padding: 40px;
    margin: 50px 0;
    text-transform: capitalize;


}

#services h5,
#cta h5 {
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    line-height: 2rem;
}

.sv-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    margin: 20px 40px;


}

.sv-buy {
    padding: 20px;
    background-color: #2165662d;
    border-radius: 20px;
    cursor: pointer;
    color: var(--whiteColor);
    transition: background 0.5s;
}

.sv-card .sv-buy a,
.cta-btn a {
    margin: 0 auto;
    background-color: transparent;
    border: 2px solid var(--backgroundMainColor);
    color: var(--heroH2Color);
    font-weight: bold;
    font-size: 1.5rem;
}

.sv-card .sv-buy a:hover {
    background-color: var(--orangeColor);
    color: var(--whiteColor);
    border: none;
}

#services .sv-card .sv-buy h4 {
    font-size: 1.9rem;
    text-transform: none;
    font-weight: 600;

}

.sv-buy img {
    width: 14vh;
}

.sv-buy p {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.6rem;
}

.sv-buy:hover {
    background-color: var(--navHoverColor);
}

/*works Section Begin  */

#works {
    /* background-image: linear-gradient(45deg, #7c9885, #b5b682);  */
    background-color: var(--sectionBackground);
    /*   background-image: linear-gradient(45deg, #7c98852f, #b5b68223); */
    width: 100%;
    padding: 40px;
    margin: 50px 0;
    text-transform: capitalize;
    border-radius: 20px;
}

.works-txt {
    width: 65%;
}

/*  */

#multi-step-form-container {
    margin-top: 5rem;

}

.text-center {
    text-align: center;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.pl-0 {
    padding-left: 0;
}

.button {
    padding: 0.7rem 1.5rem;
    border: 1px solid var(--backgroundMainColor);
    background-color: var(--backgroundMainColor);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn {
    border: 1px solid var(--orangeColor);
    background-color: var(--orangeColor);
    ;
}

.mt-3 {
    margin-top: 2rem;
    font-size: 1.4rem;
}

.d-none {
    display: none;
}

.form-step {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 3rem;
}

.font-normal {
    font-weight: bold;
    color: var(--orangeColor);

}

ul.form-stepper {
    counter-reset: section;
    margin-bottom: 3rem;
}

ul.form-stepper .form-stepper-circle {
    position: relative;
}

ul.form-stepper .form-stepper-circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 30px;
    font-weight: 600;
}

.form-stepper-horizontal {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

ul.form-stepper>li:not(:last-of-type) {
    margin-bottom: 0.625rem;
    -webkit-transition: margin-bottom 0.4s;
    -o-transition: margin-bottom 0.4s;
    transition: margin-bottom 0.4s;
}

.form-stepper-horizontal>li:not(:last-of-type) {
    margin-bottom: 0 !important;
}

.form-stepper-horizontal li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.form-stepper-horizontal li:not(:last-child):after {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    content: "";
    top: 32%;
}

.form-stepper-horizontal li:after {
    background-color: #dee2e6;

}

.form-stepper-horizontal li.form-stepper-completed:after {
    background-color: var(--orangeColor);
}

.form-stepper-horizontal li:last-child {
    flex: unset;
}

ul.form-stepper li a .form-stepper-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 0;
    line-height: 1.7rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 50%;
}

.form-stepper .form-stepper-active .form-stepper-circle {
    background-color: var(--orangeColor) !important;
    color: #fff;
}

.form-stepper .form-stepper-active .label {
    color: var(--darkFont) !important;
}

.form-stepper .form-stepper-active .form-stepper-circle:hover {
    background-color: var(--backgroundMainColor) !important;
    color: #fff !important;
}

.form-stepper .form-stepper-unfinished .form-stepper-circle {
    background-color: #f8f7ff;
}

.form-stepper .form-stepper-completed .form-stepper-circle {
    background-color: #0e9594 !important;
    color: #fff;
}

.form-stepper .form-stepper-completed .label {
    color: #0e9594 !important;
    font-size: 1.4rem;
    padding: 0 10px;
}

.form-stepper .form-stepper-completed .form-stepper-circle:hover {
    background-color: #0e9594 !important;
    color: #fff !important;
}

.form-stepper .form-stepper-active span.text-muted {
    color: #fff !important;
}

.form-stepper .form-stepper-completed span.text-muted {
    color: #fff !important;
}

.form-stepper .label {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.form-stepper a {
    cursor: default;
}

/*  */
/*Works Section End  */
/* cta section Begin */
#cta {
    text-align: center;
    text-transform: capitalize;
}

#cta h4 {
    text-transform: uppercase;
}

#cta input[type=email] {
    width: 30vw;
    margin: 20px 4px;
    padding: 15px;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: var(--whiteColor);
    font-size: 17px;
    outline: none;

}

#cta button {
    width: 20vh;
    padding: 14px;
    border: 2px solid var(--background-transparent);
    cursor: pointer;
    border-radius: 5px;
    color: var(--fontColor);
    background-color: var(--orangeColor);
    font-size: 17px;
    font-weight: 600;
    transition: .2s .2s ease;
    outline: none;
}

.cta-btn a {
    display: inline-block;
    margin-bottom: 20px;
}

#cta button:hover {
    background-color: var(--background-transparent);
    border: 2px solid var(--orangeColor);
    color: var(--heroH2Color);

}

/* CTA Section End */
/* footer section Begin */
.section-p1 {
    background-color: var(--backgroundMainColor);
    border-radius: 15px;
}

.ft-ma-logo {
    margin: 20px 0 0 40px;
    padding: 20px 0 0 30px;


}

.ft-ma-logo .logo {
    width: 170px;
}

.ft-ma-logo .logo:hover {
    border: 2px solid var(--whiteColor);
    border-radius: 4px;
}

.ft-ma-space {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 40px;
    padding: 0 40px;

}

.ft-ma-space .col {
    width: 25%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-transform: capitalize;

}

.ft-ma-space .col p {
    width: 90%;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Cairo', sans-serif;

}

.ft-ma-space h4,
.ft-ma-space .copyright a {
    font-size: 17px;
    padding-bottom: 20px;
    font-weight: 600;
    color: var(--whiteColor);
    font-family: 'Poppins', sans-serif;

}

.ft-ma-space p {
    margin-top: 0;
    font-size: 17px;
    color: var(--whiteColor);

}

.ft-ma-space a {
    color: var(--whiteColor);
    font-size: 17px;
    font-weight: 900;
    text-decoration: none;
    margin-bottom: 20px;
}

.ft-ma-space .follow i {
    color: var(--whiteColor);
    padding-right: 10px;
    cursor: pointer;
    margin-bottom: 20px;

}

.ft-ma-space .follow i:hover,
.ft-ma-space a:hover {
    color: var(--orangeColor);
}

.ft-ma-space .copyright {
    width: 100%;
    text-align: center;
    /*   margin-top: 20px;
    padding-top: 20px; */

}

.ft-ma-space .ft-form-ty1 input[type=text] {

    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: #eee;
    font-size: 17px;
}

.ft-ma-space .ft-form-ty1 button {
    width: 20vh;
    padding: 10px;
    border: 2px solid var(--background-transparent);
    cursor: pointer;
    border-radius: 5px;
    color: var(--fontColor);
    background-color: var(--orangeColor);
    font-size: 17px;
    font-weight: 600;
    transition: .2s .2s ease;
}

.ft-ma-space .ft-form-ty1 button:hover {
    background-color: var(--background-transparent);
    border: 2px solid var(--orangeColor);
}

/* footer section End */

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* section loader Begin*/
#wpf-loader-two {
    height: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99999;
    background-color: var(--backgroundMainColor);
}

#wpf-loader-two .loader-title {
    color: var(--whiteColor);
    font-size: 2.5em;
    font-weight: 600;
    position: absolute;
    left: 41%;
    top: 30%;
    font-family: var(--PoppinsFont);
}

#wpf-loader-two .loader-title span {
    color: var(--orangeColor);
}

#loader {
    position: absolute;
    left: 50%;
    top: 55%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid var(--whiteColor);
    border-radius: 50%;
    border-top: 16px solid var(--orangeColor);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* section loader End*/


/*scroll to top Begin*/
#scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--orangeColor);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

#scroll-top-btn:hover,
#scroll-top-btn:focus {
    border: 2px solid var(--orangeColor);
    background-color: var(--background-transparent);
    text-decoration: none;
    color: var(--orangeColor);
}

/*scroll to top End*/

/* @container card (min-width: 380px) {
    .article-wrapper {
        display: grid;
        grid-template-columns: 100px 1fr;
        gap: 16px;
    }

    .article-body {
        padding-left: 0;
    }

    figure {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    figure img {
        height: 100%;
        aspect-ratio: 1;
        object-fit: cover;
    }
}
 */
/* RESPONSIVE DESIGN Begin */

@media (max-width: 1199px) {

    #hero .hero-aside-block {
        width: 50%;
    }

    #hero h5 {
        font-size: 1.5vw;
    }

    #hero h1 {
        font-size: 3.5vw;
    }

    #hero .hero-aside-block a {
        width: 50%;
    }
}

@media (max-width: 991px) {
    #main-nav a {
        padding: 10px 20px;
    }

    #hero-search {
        position: relative;
        top: 0;
        left: 0;
        width: 80%;
        margin: 0 auto;
    }

    #header {
        padding: 15px 3%;

    }


    #hero .hero-aside-block {
        max-width: 70%;
    }

    #features .lft-side,
    .rft-side {
        margin: 0;
    }


}

@media screen and (max-width: 960px) {

    .article-body p {
        display: none;
    }
}



@media (max-width: 768px) {



    #menu-icon {
        display: block;

    }


    #main-nav .nav-list {
        position: absolute;
        top: -800px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: #b9bcc7ad;
        transition: all .50s ease;
        text-align: left;
        overflow: auto;

    }

    #main-nav .nav-list a {
        display: block;
        padding: 1rem;

    }

    #main-nav .nav-list.open {
        top: 100%;
    }

    .header__logo {
        padding-left: 10px;
    }


    #hero .hero-aside-block {
        padding: 0 30px;


    }

    #hero .hero-aside-block a {
        width: 25vh;
    }

    #features {
        display: block;
    }

    .rft-side,
    .lft-side {
        width: 100%;
    }

    .property-text h5,
    #services h5,
    #cta h5,
    .works-txt {
        width: 100%;
    }

    #features .lft-side {
        width: 100%;

    }

    .ft-ma-space .col {
        width: 240px;
        margin-bottom: 15%;
    }




}

@media (max-width: 500px) {


    #hero {
        background-position: top 25% right 13%;
        padding: 0 30px;

    }

    #hero .hero-aside-block {
        width: 100%;
        padding: 0;

    }

    #hero h2 {
        font-size: 2rem;
        line-height: 40px;
    }

    #hero h5 {
        font-size: 15px;
    }

    #hero h1 {

        font-size: 2rem;
        line-height: 40px;
    }

    #works {

        padding: 40px 0;
    }

    .font-normal {
        font-size: 1.4rem;
    }

    #cta input[type=email],
    #cta button {
        text-align: center;
        display: block;
        width: 100%;
    }

    #property .property-btn a,
    .cta-btn a {
        width: 100%;
    }



    .ft-ma-logo {
        padding-left: 10px;
        margin-left: 0;
    }

    .ft-ma-space {
        padding: 0 10px;
        margin: 0 10px;
    }

    .ft-ma-space .col {
        width: 220px;
    }
}

@media (max-width: 360px) {
    #hero {
        background-color: var(--navHoverColor);
        background-image: none;
    }

    .nav-btn .drop-btn .fa,
    span,
    .nav-btn .drop-btn span,
    .nav-btn,
    #hero-search,
    .works-container ul li:after {
        display: none;
    }

    #menu-icon {
        position: absolute;
        right: 0;
    }

    #hero-search .button {
        padding: 5px 10px;
    }

    #works {
        text-align: center;
    }

    .works-container ul {
        display: block;
        text-align: center;

    }

    #hero,
    #services,
    .sv-card,
    #property,
    .pro-container,
    #hero-search,
    .hero-aside-block,
    .works-container,
    #features {

        margin: 20px auto;
        padding: 5px;
        flex-direction: column;
    }




}

/* RESPONSIVE DESIGN End */